<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">Verificar mensagens</a></h1>
    <ul><% if(typeof mensagem !== 'undefined') { %>
    <% for(var i=0; i<mensagem.length; i++) { %>
        <li><%= mensagem[i] %></li>
     <% } %>
     <% } %></ul>
    <form action="processa" method="post">
        <input type="text" name="texto">
        <input type="submit" value="enviar">
    </form>
</body>
</html>